@model Accounting.data.Database.Transaction

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Trans", FormMethod.Post, new { id = "TransactionForm" }))
{
    @Html.HiddenFor(m => m.Head, new { id = "hiddenHead" })
    @Html.HiddenFor(m => m.Description, new { id = "hiddenDisc" })
    @Html.HiddenFor(m => m.TransNO, new { id = "TransNO", name = "TransNO" })
    @Html.HiddenFor(m => m.projtype, new { @id = "hidprojtype" })
    @Html.Hidden("fromDate",Request.QueryString["fromDate"])
    @Html.Hidden("todate", Request.QueryString["toDate"])
    @Html.Hidden("vt", Request.QueryString["VoucherType"])
    @Html.Hidden("coorname", Request.QueryString["coorname"])
    @Html.Hidden("accno", Request.QueryString["accno"])

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("AccountNO")
            <div class="input-group" style="max-width: 280px;">
                @*<input id="idInstid" oninput="enterinst()" type="text" placeholder="Institute Id" class="form-control" style="max-width:280px" />*@
                @Html.TextBoxFor(m => m.BankAccountNO, new { id = "bankaccno", oninput = "bankaccnoinp()", placeholder = "Account NO", style = "max-width:280px", @class = "form-control" })
                <span class="input-group-addon" aria-hidden="true" id="basic-addon2"><i id="accountnoicon" class="glyphicon glyphicon-search"></i><img id="accimg" src="~/Content/Images/loading.gif" width="20" style="display:none" /></span>
            </div>
            <label id="erAccountno" style="color:red"></label>
        </div>

    </div>
    <div class="row">
        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Institure ID")
            <div class="input-group" style="max-width: 280px;">
                @*<input id="idInstid" oninput="enterinst()" type="text" placeholder="Institute Id" class="form-control" style="max-width:280px" />*@
                @Html.TextBoxFor(m => m.INSTID, new { id = "idInstid", oninput = "enterinst()", placeholder = "Institute Id", style = "max-width:280px", @class = "form-control" })
                <span class="input-group-addon" aria-hidden="true" id="basic-addon2"><i id="instid" class="glyphicon glyphicon-search"></i><img id="idimg" src="~/Content/Images/loading.gif" width="20" style="display:none" /></span>
            </div>
            <label id="erINSTID" style="color:red"></label>
        </div>
        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("project NO")
            <div class="input-group" style="max-width: 280px;">
                @*<input id="projectNO" oninput="enterProjectNO()" type="text" class="form-control" value="" placeholder="projectNO" />*@
                @Html.TextBoxFor(m => m.ProjectNo, new { id = "projectNO", oninput = "enterProjectNO()", type = "text", @class = "form-control", placeholder = "projectNO" })
                <span class="input-group-addon" aria-hidden="true"><i id="iprojectNO" class="glyphicon glyphicon-search"></i><img id="projimg" src="~/Content/Images/loading.gif" width="20" style="display:none" /></span>
            </div>
            <label id="erProjectNO" style="color:red"></label>
        </div>
    </div>

    <div class="row">
        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Commitment NO")
            <div class="input-group" style="max-width: 280px;">
                @*<input style="max-width: 280px;" name="bankDate" id="BankDate" type="text" class="form-control " placeholder="Date" aria-describedby="basic-addon2">*@
                @Html.TextBoxFor(m => m.CommitmentNO, new { style = "max-width: 280px;", name = "", id = "ConsignmentInp", @class = "form-control", placeholder = "Commitment NO", @oninput = "CommitInp()" })
                <span class="input-group-addon" aria-hidden="true"><i id="iConsignmentInp" class="glyphicon "><img id="consignldr" src="~/Content/Images/loading.gif" width="20" style="display:none" /></i></span>
            </div>
            <label id="erConsignment" style="color:red"></label>
        </div>

        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("voucherNo")
            <div class="input-group" style="max-width: 280px;">
                @*<input id="TransNO" name="TransNO" readonly type="text" class="form-control" value="" placeholder="" />*@
                @Html.TextBoxFor(m => m.voucherNo, new { id = "voucherNo", name = "voucherNo", oninput = "voucherInput()", type = "text", placeholder = "voucherNo", @class = "form-control" })
                <span class="input-group-addon" aria-hidden="true"><i id="ivoucherNo" class="glyphicon glyphicon-search"><img id="vouldr" src="~/Content/Images/loading.gif" width="20" style="display:none" /></i></span>
            </div>
            <label id="ervoucherNo" style="color:red"></label>
        </div>

    </div>
    <div class="row">
        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Amount")
            <div class="input-group" style="max-width: 280px;">
                <span class="input-group-addon" aria-hidden="true"><i id="iprojectNO" class="fa fa-inr"></i></span>
                @*<input id="Amount" name="Amount" oninput="amountEntered(this)" type="text" class="form-control" value="" placeholder="Amount" />*@
                @Html.TextBoxFor(m => m.Amount, new { id = "Amount", name = "Amount", oninput = "amountEntered(this)", @class = "form-control", placeholder = "Amount" })
            </div>
            <label id="erAmount" style="color:red"></label>
        </div>
        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Date")
            <div class="input-group" style="max-width: 280px;">
                @Html.TextBoxFor(m => m.bnkdate, new { id = "BkDate", name = "BkDate", @class = "form-control", @readonly = "readonly" })
                @*@Html.TextBoxFor(m => m.TransNO, new { id = "TransNO", name = "TransNO", @readonly = "readonly", type = "text", @class = "form-control", value = "", placeholder = "" })*@
                <span class="input-group-addon" aria-hidden="true"><i id="" class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group  col-sm-12 col-md-6 col-lg-6">
            @Html.Label("VoucherType")
            @Html.DropDownList("VoucherType",
                        new List<SelectListItem>() {
                               new SelectListItem() {Text="Imprest Sanction",Value="8" },
               new SelectListItem() {Text="Recoupement",Value="1"},
               new SelectListItem() {Text="ChequePayment",Value="2"},
               new SelectListItem() {Text="Swipe",Value="3"},
               new SelectListItem() {Text="Bank Cash Imprest",Value="4"},
               new SelectListItem() {Text="Online Transaction",Value="5"},
               new SelectListItem() {Text="ATM",Value="6"},
               new SelectListItem() {Text="Cash Payment",Value="7"}
        }, new { @id = "voucherType", @name = "voucherType", @onchange = "changeVoucherType()", @class = "form-control" })

            <label id="erVoucherType" style="color:red"></label>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-6" id="Chequesection">
            @Html.Label("Cheque No")
            <div class="input-group" style="max-width: 280px;">
                @*<input id="ChequeNO" name="ChequeNO" type="text" oninput="chequeinp()" class="form-control" value="" placeholder="ChequeNO" />*@
                @Html.TextBoxFor(m => m.ChequeNO, new { id = "ChequeNO", name = "ChequeNO", type = "text", oninput = "chequeinp()", @class = "form-control", value = "", placeholder = "ChequeNO" })
                <span class="input-group-addon" aria-hidden="true"><i id="iprojectNO" class="glyphicon glyphicon-edit"></i></span>
            </div>
            <label id="erChequeNO" style="color:red"></label>
        </div>
    </div>
    <div class="row">

    </div>
    <div id="paymentNarration" class="row">
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Narration ") &nbsp; <label style="color:sandybrown" id="narrationlimit"></label>
            @*<textarea id="Narration" name="narration" oninput="NarratinoInput(this)" maxlength="250" class="form-control" rows="6"></textarea>*@
            @Html.TextAreaFor(m => m.narration, new { id = "Narration", name = "narration", oninput = "NarratinoInput(this)", maxlength = "250", @class = "form-control", rows = "6" })
            <label id="erNarration" style="color:red"></label>
        </div>
        <div class="form-group col-sm-12 col-md-6 col-lg-6">
            @Html.Label("Remarks") &nbsp; <label id="RemarksLimit" style="color:sandybrown"></label>
            @*<textarea id="Remarks" name="Remarks" oninput="RemarkInput(this)" maxlength="250" class="form-control" rows="6"></textarea>*@
            @Html.TextAreaFor(m => m.Remarks, new { id = "Remarks", name = "Remarks", oninput = "RemarkInput(this)", maxlength = "250", @class = "form-control", rows = "6" })
            <label id="erRemark" style="color:red"></label>
        </div>
    </div>
    <div style="text-align:center;">
        <button type="submit" class="btn btn-default" >Submit</button>
        <button id="idcancelbtn" type="button" class="btn btn-default" onclick="CancelTran()" style="display:none">Cancel</button>
        <button id="idClearbtn" type="button" class="btn btn-default" onclick="clearfun()">Clear</button>
    </div>
</div>

}


<script>
    function CancelTran() {
        PageRedire.urlr = "@Url.Action("Index","Trans")";
        window.location.href = PageRedire.urlr;
    }
    function clearfun() {
        
        $("#projectNO").val('');
        $("#Narration").val('');
        $("#Remarks").val('');
        $("#ChequeNO").val('');
        //$("#voucherType").val('');///clear voucherType
        $("#BankDate").val('');
        $("#Amount").val('');
        $("#voucherNo").val('');
    }
    $(function () {
        $("#BkDate").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'dd/mm/yy',
            //setDate: today
        });
    });
</script>